html{
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    position: relative;

}

.topHeader {
    position: absolute;
    max-height: 9%;
    top: 0%;
    left:0%;
    width: 100%;
    background-color: black;
}


.notificationArea {
    position: absolute;
    top: 10%;
    left: 65%;
    width: 35%;
    background-color: red;
    height: 40%;
}



.activityArea {
    position: absolute;
    top: 50%;
    left: 65%;
    width:35%;
    background-color: blue;
    height: 40%;
}


.searchArea {

    position: absolute;
    left: 10%;
    height: 20%;
    top: 20%;
    background-color: aqua;
    width: 50%;
}

.dashboardArea {
      position: absolute;
    left: 10%;

    height: 40%;
    top: 50%;
    background-color: green;
    width: 50%;
}
