{% extends "public/header.html" %}

{% block title %} Login Page {% endblock title %}
{% block content %}

<h2 style="text-align:center"> Login to Store</h2>
<br/>
<form  action="{% url 'public:authenticate' %}" method="POST" class="jumbotron" style="text-align:center;">
    {% csrf_token %}
    <p>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username"></p>
    <p><label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"></p>
    <p>{{ loginerror }}</p>
    <input type="submit" value="Login">

</form>

{% endblock content %}
